---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Skill from "../components/Skills.astro";
import Projects from "../components/Projects.astro";
import Contact from "../components/Contact.astro";
---

<Layout title="Thinh Tran">
  <main>
    <Header transition:animate="fade" />
    <Hero />
    <Skill />
    <Projects />
    <Contact />
  </main>
</Layout>

<style>
  * {
    transition: all 2s ease-in-out;
  }
  .smooth-scroll {
    scroll-behavior: smooth;
  }
  @media screen and (min-width: 1024px) {
    html {
      scroll-snap-type: y mandatory;
      scroll-behavior: smooth;
    }
  }
</style>
