<header class="fixed left-0 right-0 top-0 z-50 w-full px-6">
  <nav class="mt-8 flex justify-center">
    <ul
      id="scroll-header"
      class="flex items-center justify-center rounded-full border px-3 text-primary backdrop-blur-xl transition duration-500 ease-in-out"
    >
      <li
        class="rounded-full px-1 transition duration-100 ease-in-out md:px-2 lg:hover:text-slate-200"
      >
        <a href="/" class="inline-block cursor-pointer p-3 es:p-1">Home</a>
      </li>
      <li
        class="rounded-full px-1 transition duration-100 ease-in-out md:px-2 lg:hover:text-slate-200"
      >
        <a href="/#skills" class="inline-block cursor-pointer p-3 es:p-1"
          >Skills</a
        >
      </li>
      <li
        class="rounded-full px-1 transition duration-100 ease-in-out md:px-2 lg:hover:text-slate-200"
      >
        <a href="/#projects" class="inline-block cursor-pointer p-3 es:p-1"
          >Projects</a
        >
      </li>
      <li
        class="rounded-full px-1 transition duration-100 ease-in-out md:px-2 lg:hover:text-slate-200"
      >
        <a href="/#contact" class="inline-block cursor-pointer p-3 es:p-1"
          >Contact</a
        >
      </li>
    </ul>
    <script>
      import "../utils/navScroll";
    </script>
  </nav>
</header>
