---
const options = [
  {
    title: "Home",
    href: "/",
  },
  {
    title: "Projects",
    href: "/projects",
  },
  {
    title: "Contact",
    href: "/contact",
  },
];
---

<nav
  class="fixed left-0 right-0 top-0 z-50 mx-auto mt-8 flex w-fit justify-center"
>
  <ul
    id="scroll-header"
    class="flex items-center justify-center rounded-full border px-3 backdrop-blur-xl transition duration-500 ease-in-out"
  >
    {
      options.map((item) => (
        <li class="z-10 rounded-full px-1 py-2 transition duration-100 ease-in-out es:py-1 md:px-2 lg:hover:text-slate-200">
          <a
            href={item.href}
            class="scroll-item inline-block cursor-pointer px-3 py-1 text-primary transition-all hover:rounded-full hover:bg-transparent hover:bg-opacity-50 es:p-1 lg:hover:bg-white lg:hover:text-secondary"
          >
            {item.title}
          </a>
        </li>
      ))
    }
  </ul>
  <script>
    import "../utils/navScroll";
  </script>
</nav>
