---

---

<header class="fixed left-0 right-0 top-0 z-50 w-full px-6">
  <nav class="mt-8 flex justify-center">
    <ul
      id="scroll-header"
      class="flex items-center justify-center rounded-full border px-3 backdrop-blur-xl transition duration-500 ease-in-out"
    >
      <li
        class="z-10 rounded-full px-1 py-2 transition duration-100 ease-in-out es:py-0 md:px-2 lg:hover:text-slate-200"
      >
        <a
          href="/"
          class="scroll-item inline-block cursor-pointer px-3 py-1 text-primary transition-all hover:rounded-full hover:bg-transparent hover:bg-opacity-50 es:p-1 lg:hover:bg-white lg:hover:text-secondary"
          >Home</a
        >
      </li>
      <li
        class="z-10 rounded-full px-1 py-2 transition duration-100 ease-in-out es:py-0 md:px-2 lg:hover:text-slate-200"
      >
        <a
          href="/skills"
          class="scroll-item inline-block cursor-pointer px-3 py-1 text-primary transition-all hover:rounded-full hover:bg-transparent hover:bg-opacity-50 es:p-1 lg:hover:bg-white lg:hover:text-secondary"
          >Skills</a
        >
      </li>
      <li
        class="z-10 rounded-full px-1 py-2 transition duration-100 ease-in-out es:py-0 md:px-2 lg:hover:text-slate-200"
      >
        <a
          href="/projects"
          class="scroll-item inline-block cursor-pointer px-3 py-1 text-primary transition-all hover:rounded-full hover:bg-transparent hover:bg-opacity-50 es:p-1 lg:hover:bg-white lg:hover:text-secondary"
          >Projects</a
        >
      </li>
      <li
        class="z-10 rounded-full px-1 py-2 transition duration-100 ease-in-out es:py-0 md:px-2 lg:hover:text-slate-200"
      >
        <a
          href="/contact"
          class="scroll-item inline-block cursor-pointer px-3 py-1 text-primary transition-all hover:rounded-full hover:bg-transparent hover:bg-opacity-50 es:p-1 lg:hover:bg-white lg:hover:text-secondary"
          >Contact</a
        >
      </li>
    </ul>
    <script>
      import "../utils/navScroll";
    </script>
  </nav>
</header>
