---
import { Image } from "astro:assets";
import MyAvatar from "../assets/images/Avatar/my-avatar.gif";
---

<section class="adjusted h-screen snap-start snap-always">
  <div
    class="mx-auto flex h-full max-w-screen-xl items-center justify-center px-6"
  >
    <div class="fade-in">
      <!-- Intro -->
      <div class="text-center">
        <div class="flex h-40 w-full justify-center pb-6 es:h-28 es:pb-3">
          <Image
            id="my-avatar"
            class="circle-clip h-full w-[136px] bg-white es:w-[100px]"
            src={MyAvatar}
            alt="avatar"
            loading="eager"
          />
        </div>
        <h1 class="pb-6 text-2xl font-medium es:pb-3 es:text-xl lg:pb-8">
          Hi, I&apos;m Thinh Tran
        </h1>
        <h1
          class="from bg-gradient-to-r from-[#42b0fa] from-25% via-[#bd35fc] via-50% to-[#f7754e] to-75% bg-clip-text pb-6 text-3xl font-bold text-transparent es:pb-3 es:text-2xl lg:pb-8 lg:text-5xl"
        >
          Software Developer
        </h1>
        <p
          class="pb-16 font-medium es:pb-8 es:text-sm md:px-36 lg:px-60 lg:pb-20 xl:px-80"
        >
          I bridge the gap between design vision and functional interfaces,
          building dynamic and responsive web experiences.
        </p>
      </div>
      <!-- Hero -->
      <div class="h-full py-3 text-center es:py-2">
        <a
          href="https://www.linkedin.com/in/thinh-tran-a2a8351a2/"
          target="_blank"
          class="text-neutral-foreground hover:bg-primary-btn-hover text-dark-text mr-1 cursor-pointer rounded-full bg-primary px-5 py-3 es:px-2 es:py-2"
          >Get in touch</a
        >
        <a
          href="https://drive.google.com/file/d/19IWHMb76ZHrSI3viniWp7t3Jt3A0ECQO/view?usp=sharing"
          target="_blank"
          class="hover:bg-outline-btn-hover hover:text-neutral-foreground ml-1 cursor-pointer rounded-full border px-5 py-3 es:px-2 es:py-2"
          >My resume</a
        >
      </div>
    </div>
  </div>
  <script>
    document.addEventListener("DOMContentLoaded", () => {
      const avatar = document.getElementById("my-avatar");
      let observer = new IntersectionObserver((entries) => {
        entries.forEach((entry) => {
          if (entry.isIntersecting) {
            if (avatar) {
              (avatar as HTMLImageElement).src = (
                avatar as HTMLImageElement
              ).src; // Force reload the GIF
            }
          }
        });
      });
      if (avatar) {
        observer.observe(avatar);
      }
    });
  </script>
</section>

<style>
  .circle-clip {
    clip-path: circle(50% at 50% 50%);
  }
  .fade-in {
    animation: fadeIn 1s ease-in-out;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
</style>
