:root {
  --background: hsl(60, 2%, 14%);
  --border: hsl(60, 2%, 24%);
  --primary: hsl(216, 12%, 96%);
  --primary-text: hsl(216, 12%, 84%);
  --body-text: hsl(216, 12%, 80%);
  --dark-text: hsl(60, 2%, 14%);
  --card-base: hsl(60, 2%, 22%);
  --card-dark: hsl(60, 2%, 18%);
  --badge: hsl(60, 2%, 26%);

  --primary-btn-hover: hsl(216, 12%, 88%);
  --outline-btn-hover: hsl(216, 12%, 18%);
}
